#header {
  text-align: center;
}
.repl {
  position: relative;
  min-height: 95vh;
}

.repl-history {
  height: 55vh;
  margin: auto;
  display: block;
  overflow: scroll;
}

.repl-input {
  margin: auto;
  height: 10vh;
}
.repl-command-box {
  width: 90%;
  margin: auto;
  display: block;
}
button {
  margin: auto;
  display: block;
  color: orange;
  font: 1.8em "Comic Sans MS", sans-serif;
  background-color: #04aa6d;
}

/* TODO WITH TA: Style your new button! */
/* TODO: Add some other CSS change! */
